<footer class="footer is-size-6 p-1">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Movie Database v2.0 by <strong>Nikki</strong>. <a href="https://github.com/nikkimasani/qkfls-Movie-Reviews-Database.git">Github source code.</a>
        </p>
      </div>
    </div>
  </footer>
